@page "/current-user"

@using BlazorShared;

@using static BlazorApp.BFF.BffAuthenticationStateProvider;
@inject HttpClient Http

@attribute [Authorize]

<PageTitle>Current User Info</PageTitle>

<h1>Current User Info</h1>

@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Claim Type</th>
                <th>Claim Value</th>
            </tr>
        </thead>
        <tbody>
@foreach (var claim in user.Claims)
{
                <tr>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                </tr>
}
        </tbody>
    </table>
}

@code {
    private UserInfo? user;

    protected override async Task OnInitializedAsync()
    {
        user = await Http.GetFromJsonAsync<UserInfo>("User");
    }
}
