@page "/user-claims"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>User Claims</PageTitle>

<h1>User Claims</h1>

@if (claims.Count() > 0)
{
    <ul>
        @foreach (var claim in claims)
        {
            <li><b>@claim.Type:</b> @claim.Value</li>
        }
    </ul>

    <li>@_token</li>
}

@code {
    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();
    private string? _token;

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (AuthState == null)
        {
            return;
        }
        var authState = await AuthState;
        claims = authState.User.Claims;
        var persistentAuthenticationStateProvider = (PersistentAuthenticationStateProvider)AuthenticationStateProvider;
        _token = persistentAuthenticationStateProvider?.CurrentUserInfo?.AccessToken;
    }
}
